body {
    font-family: cursive;
    color: #fff;
    background-image: url("../imagenes/cssF/fondo.gif");
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: cursive;
    color: #fff;
    text-shadow: -5px 5px 7px rgb(255, 22, 22);
}

h1:hover {
    color: rgb(248, 248, 251);
}

.col-12 > .text-success {
    font-size: 2rem;
    color: #fbd22d;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(245, 243, 243, 0.978);
}

.nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin-bottom: 20px;
}

.nav-item {
    margin-right: 10px;
}

.nav-item input {
    padding: 5px;
    width: 120px;
    height: 21px;
    border: 2px solid #000;

}

.nav-item input:hover {
    background-image: linear-gradient(to right, #29fa11 0%, #2d11ff);
    border-radius: 5%;
    border: 2px solid #fff;
}

.boton-iniciar {
    width: 90px;
    height: 41px;
    top: -30px;
    background-color: #100720;
    color: #fff;
    cursor: pointer;
    border: 2px solid #100720;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 1rem;
    transition: 0.1s;
    display: inline-block;
    margin: 20px;
    padding: 8px 20px; /* Ajustamos el espaciado interno */
}

.boton-iniciar:hover {
    color: #fff;
    border: 3px solid #fff;
    transform: scale(0.9) rotate(3deg);
    transition: 0.5s;
    background-image: linear-gradient(to right, #ddf810 0%, #ff3912);
    box-shadow: 0 -5px 8px rgba(233, 253, 14, 0.993), 0 5px 8px rgba(251, 43, 20, 0.95);
}

.boton-iniciar::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(247, 102, 35) 17.8%, rgb(255, 2, 103) 100.2%);
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}

.tablero {
    display: flex;
    flex-wrap: wrap;
}

.col-3 {
    width: calc(25% - 10px);
    margin-bottom: 10px;
    margin-right: 10px;
}

.img-fluid {
    width: 100px; /* Cambia el ancho de las cartas */
    height: auto;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-bottom: 5px; /* Reducir el espacio entre las cartas */
}

.text-success {
    color: rgba(246, 247, 248, 0.953);
}

/* Estilos para la tabla */
.estadisticas th,
.estadisticas td {
    color: #fff;
    border: 1px solid #2609fd;
    padding: 10px; /* Reducir el espacio interno de las celdas */
    box-shadow: 0 -5px 8px rgba(18, 14, 253, 0.993), 0 5px 8px rgba(251, 43, 20, 0.95);
    background-image: url("../imagenes/cssF/fondo.gif");
    background-size: cover;
}

/* Cambiar el tamaño de la fuente en la tabla */
.estadisticas th {
    background-color: #0e0efd;
    color: #fff;
  font-size: 14px; /* Reducir el tamaño de la fuente de los encabezados */
}
