body {
  font-family: Georgia, 'thid is roman', Times, serif, sans-serif;
  background-image: url("../imagenes/cssF/fondo.gif");
  margin: 100x; /* Añadí "px" para definir el valor en píxeles */
  padding: 10px;
 background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
  background-position: center; /* Centra la imagen en el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-image: url("");  background-size: cover;
}
 .card {
  width: 90px;
  height: 90px;
  margin: 1px;
  border: 1px solid #333;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  cursor: pointer;
  transition: all 0.4s ease;
  background-color: #f0f0f0;
  background-image: url('../data/img/a.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  transition: transform 0.3s ease-in-out;
}
 .card.flipped {
  background-color: #f7f7f7;
  transform: rotateY(180deg);
}
#change-turn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}

#change-turn:hover {
  background-color: #2980b9;
}
/* Estilos para la pantalla dividida */
.split-screen {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh; /* Altura del viewport */
}

/* Estilos para los tableros */
.board {
  flex: 1; /* Para que ocupen un ancho igual */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 1px;
  margin: 50px;
  border: 100px solid #0f0f0f;
}

/* Estilos para las cartas */
.moves-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;
}


.moves {
  font-size: 16px;
  color: #c01515; /* Color del texto */
}
.moves-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;
}
.moves {
  font-size: 20px;
  color: #41FF33; /* Color verde brillante */
  font-family: 'Arial', sans-serif; /* Fuente */
}
.timer{
  font-size: 40px; /* Tamaño más grande para los números del temporizador */
  /* Otros estilos según sea necesario */
}
.game-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto; /* Ajusta el margen como prefieras */
  max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
};



